.fullpage{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.picture{
    height: 38%;
    box-shadow: 5px 5px 5px 2px rgba(193, 193, 193, 0.352);
    border-radius: 4px;
    position: absolute;
    left: 10%;

}
.formStuff{
    height: 18%;
    width: 50%;
    box-shadow: 5px 5px 5px 2px rgba(193, 193, 193, 0.352);
    border-radius: 4px;
    position: absolute;
    right: 15%;
    padding: 1%;
    border: 1px solid rgba(193, 193, 193, 0.352);
}

.form{
    height: 43%;
    width: 50%;
    box-shadow: 5px 5px 5px 2px rgba(193, 193, 193, 0.352);
    border-radius: 4px;
    position: absolute;
    right: 15%;
    padding: 1%;
    border: 1px solid rgba(193, 193, 193, 0.352);
}
.signedUP{
    padding-top: 2%;
}

.bottomForm{
    display: flex;

}
.emailInput{
    margin-left: 145%;
    width: 230%;
}
.nameInput{
    width: 230%;
}
.success-message{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #D1E8DD;
    padding: 2%;
    border-radius: 4px;
    border: 1px solid #cee9dc;
}
